<head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>


<div class="container">
  <title>Density PLots by Phenotype</title>
      <h2>Distribution</h2>
      <img src="data:image/png;base64, {{ plot_url }}">
    </div>


<div class="jumbotron">
  <p><a class="btn btn-primary" href="/" role="button">Home</a>
</div>
