<!DOCTYPE html>
<html lang="en">

<body background="static/logo.png">
</body>

<head>
    <title>Move Anywhere</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
  <div class="container">
          <div class="header">
              <nav>
                  <ul class="nav nav-pills pull-right">
                      <li role="presentation" class="active"><a href="#">Home</a>
                      </li>
                      <li role="presentation"><a href="#">Sign In</a>
                      </li>
                      <li role="presentation"><a href="showSignUp">Sign Up</a>
                      </li>
                  </ul>
              </nav>
              <h3 class="text-muted">Where will you go next?</h3>
          </div>

        <div class="jumbotron">
            <h1>Move Anywhere</h1>
            <p class="lead"></p>
            <p><a class="btn btn-success" href="tables" role="button">Begin!</a>
            <p><a class="btn btn-basic" href="home" role="button">Explore Cities</a>
              <p><a class="btn btn-basic" href="plots" role="button">Explore Jobs</a>
                <p><a class="btn btn-basic" href="tables" role="button">Explore Nightlife</a>

            </p>
        </div>

        <footer class="footer">
            <p>&copy; Move Anywhere 2017</p>
        </footer>

    </div>
</body>

</html>
